.card {
    display: block;
    height: 6vw;
    width: 4vw;
    border-radius: .3em;
    padding: .3em;
}

.rank {
    font-weight: bold;
    text-align: left;
    font-size: 90%;
}

.suit {
    font-size: 150%;
    text-align: center;
}
