.playing-card {
    display: block;
    padding: .3em;
    border-radius: .3em;
    border: 1px solid rgba(0, 0, 0, .125);
    aspect-ratio: 4/6;
    min-width: 4vw;
}

.rank {
    font-weight: bold;
    text-align: left;
    font-size: calc(10px + 1vh);
}

.suit {
    font-size: calc(20px + 1vh);
    text-align: center;
}
